@import "tailwindcss";



/* 2. Custom CSS khusus untuk gaya portofolio kamu */
@layer base {
    body {
        @apply bg-[#020617] text-slate-400 font-sans;
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
    }
    
    body.fade-in {
        opacity: 1;
    }

    .fade-out {
        opacity: 0 !important;
    }
}

@layer components {
    /* Efek Kaca (Glassmorphism) */
    .glass {
        background: rgba(255, 255, 255, 0.03);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.05);
    }

    /* Gradient Teks agar terlihat mewah */
    .text-gradient {
        background: linear-gradient(to right, #ffffff, #38bdf8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* Animasi halus untuk kartu proyek */
    .project-card {
        @apply relative overflow-hidden rounded-3xl bg-slate-800 transition-all duration-500;
    }
}